
@{
    ViewData["Title"] = "Collaboration";
}

<h1>Collaboration</h1>

<!
  
  <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-3">
      <div class="container grid-breadcrumb">
        <ul class="breadcrumbs-custom-path mt-md-2">
          <li><a hasp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
          <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Collaboration </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
  <div class="w3l-cta5 call-to-action-5-content text-center py-5">
    <div class="container py-md-5">
      <h3 class="subhny-title text-center">What We Offer</h3>
      <h3 class="hny-title text-center mb-4">Our Services</h3>
      <p class="shny-para">Cokie Dessert offers the best products in Indonesia. Selected ingredients, balanced texture, rich taste, and delicious presentation are used to make each product perfect.

Cokie Dessert, a balance between commitment and work. </p>
      <a asp-controller="Home" asp-action="Profile" class="btn btn-primary btn-style mb-4">Read More <span class="fa fa-chevron-right"></span></a>
      <div class="three-grids d-grid grid-columns-3">
        <div class="grid">
          <div class="icon">
            <span class="fa fa-free-code-camp" aria-hidden="true"></span>
          </div>
          <div class="icon-info">
            <h4><a href="#">Hot Chocolate</a></h4>
            <p>A melted chocolate will help you a good day. 
            </p>
          </div>
        </div>
        <div class="grid">
          <div class="icon">
            <span class="fa fa-flask" aria-hidden="true"></span>
          </div>
          <div class="icon-info">
            <h4><a href="#">Desserts</a></h4>
            <p>Desserts will help you a good day and also make you good mood. 
            </p>
          </div>
        </div>
        <div class="grid">
          <div class="icon">
            <span class="fa fa-book" aria-hidden="true"></span>
          </div>
          <div class="icon-info">
            <h4><a href="#">Eco Friendly</a></h4>
            <p>We use plant based bag, example like a cassava bag.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> 
    <!-- //stats -->
    <!-- services page block 2 -->
    <section class="w3l-features py-5" id="work">
        <div class="call-w3 py-lg-5 py-md-4">
            <div class="container">
                <div class="row main-cont-wthree-2">
                    <div class="col-lg-5 feature-grid-left pr-lg-5">
                        <span class="subhny-title mb-2">Faster is better.</span>
                        <h3 class="hny-title mb-md-4 mb-2">Sit at Home
                            We Will Take Care</h3>
                        <p class="text-para">You can make a good day while you at home.
                        </p>
                        <a asp-area="" asp-controller="Home" asp-action="Company" class="btn btn-primary btn-style mt-lg-5 mt-4">Discover More</a>
                    </div>
                    <div class="col-lg-7 feature-grid-right mt-lg-0 mt-5">
                        <div class="call-grids-w3 d-grid">
                            <div class="grids-1 box-wrap">
                                <div class="icon">
                                    <span class="fa fa-clock-o" aria-hidden="true"></span>
                                </div>
                                <h4><a href="#feature" class="title-head">Fast Delivery
                                        in 1 Hour</a></h4>
                            </div>
                            <div class="grids-1 box-wrap">
                                <div class="icon">
                                    <span class="fa fa-mobile" aria-hidden="true"></span>
                                </div>
                                <h4><a href="#feature" class="title-head">Amazing
                                        Mobile App</a></h4>
                            </div>
                            <div class="grids-1 box-wrap">
                                <div class="icon">
                                    <span class="fa fa-map-marker" aria-hidden="true"></span>
                                </div>
                                <h4><a href="#feature" class="title-head">Wide
                                        (Location) Map</a></h4>
                            </div>
                            <div class="grids-1 box-wrap">
                                <div class="icon">
                                    <span class="fa fa-user-circle-o" aria-hidden="true"></span>
                                </div>
                                <h4><a href="#feature" class="title-head">More Than
                                        150 Couriers</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

          
    <!-- //home page block2 grids -->
    <!-- stats -->
    <section class="w3l-stats py-lg-5 py-4" id="stats">
        <div class="container py-md-5 py-4">
            <span class="subhny-title mb-2 text-center">Faster is better.</span>
            <h3 class="hny-title mb-md-4 mb-2 text-center">
                Get More With Our Application</h3>
            <div class="row stats-con">
                <div class="col-lg-4 col-md-6 stats_info counter_grid">

                    <p class="counter">35+</p>
                    <h4>Free Online Ordering System
                        For Restaurants</h4>
                </div>
                <div class="col-lg-4 col-md-6 stats_info counter_grid1">
                    <p class="counter">500+</p>
                    <h4>500+ Free delivery to customers. Get your order with trusted people</h4>
                </div>
                <div class="col-lg-4 col-md-6 stats_info counter_grid mt-md-0 mt-5">

                    <p class="counter">26+</p>
                    <h4>26+ years of experience.Benefit’s of working with us.</h4>
                </div>

            </div>
        </div>

 

    </section>