
@{
    ViewData["Title"] = "Company";
}

<h1>Company</h1>

 <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-3">
      <div class="container grid-breadcrumb">
        <ul class="breadcrumbs-custom-path mt-md-2">
          <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
          <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Company </li>
        </ul>
      </div>
    </div>

        <section class="w3l-content-6" id="about">
    <!-- /content-6-main-->
    <div class="content-6-mian py-5">
      <div class="container py-lg-5 py-md-4">
        <div class="content-info-in row">
          <div class="content-gd col-lg-6 pr-lg-4">
            <div class="title-content text-left mb-sm-4 mb-3">
              <h3 class="subhny-title">About Us</h3>
              <h3 class="hny-title">Hello. Our structure has been present for over 2 years. We make the best !.</h3>
            </div>
            <p>Based on the conditions and developments in technology today, many people are familiar with using technology in making purchases made online. Not only that, the effect is felt by citizens, especially Indonesians who feel economic difficulties due to current conditions. One of them is Cokies Dessert, an MSME business owned by a student majoring in Agribusiness Universitas Brawijaya who opened a business in the midst of the current COVID-19 condition.. </p>
          </div>
          <div class="content-gd col-lg-3 col-6 pl-lg-4 pl-lg-5 mt-lg-0 mt-md-5 mt-4">
            <img src="~/images/cokie on desk.JPG" alt="about" class="radius-image img-fluid">
          </div>
          <div class="content-gd col-lg-3 col-6 pl-lg-4 pl-lg-5 mt-lg-0 mt-md-5 mt-4">
            <img src="~/images/R0107991.JPG" alt="about" class="radius-image img-fluid">
          </div>
        </div>
        <p class="mt-4">Initially, we only produced one variant, namely original brownies. However, this family recipe, which was then thrown into the market, received a very positive response from the community. We appreciate this extraordinary community response. We continue to develop its creations by innovating with the main basis of brownies. Then new variants were born, such as cream cheese, a blend of selected cream cheese with original brownies. In addition, there are pandanus juice, blueberry, choco marble, pink marble, green marble, tiramisu, and other variants.

We don't only produce brownies. Our other featured products are banana cheesecake, and etc. You can get food products with guaranteed quality and halalness.

In addition to continuing to innovate in terms of products, in order to meet people's demands, we are trying to reach various regions in the archipelago by adding new outlets. We are currently preparing new outlets in several cities. We hope that our presence in these locations will be well received. </p>
      </div>
  </section>

<section class="w3l-features14">
    <div class="w3l-feature-6-main py-5">
      <div class="container py-lg-5">
        <div class="row align-center">
          <div class="col-lg-7 img-left">
            <div class="header-section text-left mb-5">
              <span class="subhny-title">Services We Do</span>
              <h3 class="hny-title">
               What We Do
              </h3>
            </div>
            <div class="grid mt-0">
              <div class="w3l-feature-6-gd">
                <div class="icon"><span class="fa fa-free-code-camp"></span></div>
                <div class="w3l-feature-6-gd-info">
                  <h3><a href="#url">Plant Based</a></h3>
                  <p>We trying to use a plant based system.</p>
                </div>
              </div>
              <div class="w3l-feature-6-gd">
                <div class="icon"><span class="fa fa-sitemap"></span></div>
                <div class="w3l-feature-6-gd-info">
                  <h3><a href="#url">Roast</a></h3>
                  <p>Good roaster on the town.</p>
                </div>
              </div>
            </div>

            <div class="grid">
              <div class="w3l-feature-6-gd">
                <div class="icon"><span class="fa fa-glass"></span></div>
                <div class="w3l-feature-6-gd-info">
                  <h3><a href="#url">Good Quality</a></h3>
                  <p>We only use a good quality for you.</p>
                </div>
              </div>
              <div class="w3l-feature-6-gd">
                <div class="icon"><span class="fa fa-clone"></span></div>
                <div class="w3l-feature-6-gd-info">
                  <h3><a href="#url">Sweet & Snack</a></h3>
                  <p>Sweet like a honey.</p>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
