
@{
    ViewData["Title"] = "Product";
}
 <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-3">
      <div class="container grid-breadcrumb">
        <ul class="breadcrumbs-custom-path mt-md-2">
          <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
          <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Product </li>
        </ul>
      </div>
    </div>
 <!-- //banner section -->
    <section class="w3l-products py-5" id="projects">
        <div class="container py-lg-3">
            <div class="header-section text-center mx-auto">
                <span class="subhny-title text-center mb-2">Quick Pick</span>
                <h3 class="hny-title text-center mb-5">Popular Goods</h3>
            </div>
            <div class="mt-5">
                <div class="mx-auto">
                    <!--Horizontal Tab-->
                    <div id="parentHorizontalTab">
                        <ul class="resp-tabs-list hor_1">
                            <li>Brownies</li>
                            <li>Cookie</li>
                            <li>Lebaran</li>
                            <div class="clear"></div>
                        </ul>
                        <div class="resp-tabs-container hor_1">
                            <div class="products-content">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="~/images/biskuat.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Lotus Biscoff Cookies</h4>

                                                    <p class="mb-4">Dough Vanilla, Biscuit Lotus, Lotus spreads, Cinamon, Chopped Chovcolate</p>
                                                    <span class="price"><span class="amount"><span
                                                                class="price-currency=">$</span>15.00</span></span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="~/images/green.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Matcha White Chocolate</h4>

                                                    <p class="mb-4">Dough matcha, chopped white chocolate, sea salt</p>
                                                    <span class="price"><span class="amount"><span
                                                                class="price-currency=">$</span>19.00</span></span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="~/images/red.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Red Velvet Oreo Cheese</h4>

                                                    <p class="mb-4">Dough Red velvet, biscuit oreo, cream cheese filling, and sea salt</p>
                                                    <span class="price"><span class="amount"><span
                                                                class="price-currency=">$</span>30.00</span></span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="~/images/brown.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Salty Choco Cookies</h4>

                                                    <p class="mb-4">Dough Vanila, Chopped Chocolate, Sea salt</p>
                                                    <span class="price"><span class="amount"><span
                                                                class="price-currency=">$</span>19.00</span></span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-content">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="~/images/b18.jpg" ss="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Banana Brownies Cheese</h4>

                                                    <p class="mb-4">A plant based brownies and also healthy for you.</p>
                                                    <span class="price"><span class="amount"><span
                                                                class="price-currency=">$</span>30.00</span></span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="~/images/b16.jpg" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Classic Brownie</h4>

                                                    <p class="mb-4">A classic brownie with a sea salt will help you to get good day.</p>
                                                    <span class="price"><span class="amount"><span
                                                                class="price-currency=">$</span>30.00</span></span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="~/images/b17.jpg" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Dark Choco Brownie</h4>

                                                    <p class="mb-4">Dark choco will help you to bring a good mood on a bad day.</p>
                                                    <span class="price"><span class="amount"><span
                                                                class="price-currency=">$</span>30.00</span></span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="~/images/b19.jpg" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Nutella Oreo Wafer Brownie</h4>
                                                    <p class="mb-4">A delicious oreo wafer with a delicious chocolote for a bad day. </p>
                                                    <span class="price"><span class="amount"><span
                                                                class="price-currency=">$</span>30.00</span></span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="products-content">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="~/images/kl1.jpg" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Peanut Choco-cokie</h4>

                                                    <p class="mb-4">Peanut choco for you have a bad day.</p>
                                                    <span class="price"><span class="amount"><span
                                                                class="price-currency=">$</span>30.00</span></span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="~/images/kl2.jpg" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Kurma Choco-oreo</h4>

                                                    <p class="mb-4">SKurma will helps you a good day on a bad day.</p>
                                                    <span class="price"><span class="amount"><span
                                                                class="price-currency=">$</span>30.00</span></span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="~/images/kl3.jpg" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Thumbprint Strawberry</h4>

                                                    <p class="mb-4">Sweet and Sour will make one and helps you a good day.</p>
                                                    <span class="price"><span class="amount"><span
                                                                class="price-currency=">$</span>30.00</span></span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="~/images/kl4.jpg" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                    aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">HCookies Mede</h4>
                                                    <p class="mb-4">A plant based cookie, helps you a healthy body.</p>
                                                    <span class="price"><span class="amount"><span
                                                                class="price-currency=">$</span>30.00</span></span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
  

       <!-- //counter-->
    <script src="~/js/owl.carousel.js"></script><!-- owl carousel -->
    <!-- script for tesimonials carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false,
                        loop: false
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->
        <!--/MENU-JS-->
        <script>
            $(window).on("scroll", function () {
                var scroll = $(window).scrollTop();

                if (scroll >= 80) {
                    $("#site-header").addClass("nav-fixed");
                } else {
                    $("#site-header").removeClass("nav-fixed");
                }
            });

            //Main navigation Active Class Add Remove
            $(".navbar-toggler").on("click", function () {
                $("header").toggleClass("active");
            });
            $(document).on("ready", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
                $(window).on("resize", function () {
                    if ($(window).width() > 991) {
                        $("header").removeClass("active");
                    }
                });
            });
        </script>
        <!--//MENU-JS-->

        <!-- disable body scroll which navbar is in active -->
        <script>
            $(function () {
                $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
        <!-- //disable body scroll which navbar is in active -->

        <!--bootstrap-->
        <script src="~/js/bootstrap.min.js"></script>
        <!-- //bootstrap-->

