
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

 <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-3">
      <div class="container grid-breadcrumb">
        <ul class="breadcrumbs-custom-path mt-md-2">
          <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
          <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Profile</li>
        </ul>
      </div>
    </div> 

    <!-- banner section -->
    <section id="home" class="w3l-banner py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12 mt-lg-0 mt-4">
                    <span class="subhny-title mb-2">Fast and Easy</span>
                    <h3 class="mb-4">Cookiedessert<br>
                        Eco Friendly</h3>
                    <p>Cokiedessert are an MSME business that implements eco friendly and uses good quality materials and uses plant based. We will also help you to protect the earth for our children and grandchildren.</p>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-10 mt-lg-0 mt-5">
                    <div class="img-effect text-lg-center">
                        <img src="~/images/IMG_6159.PNG" alt="banner" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!--//w3l-grids-3-->
  <!--/team-sec-->
  <section class="w3l-team-main" id="team">
    <div class="team py-5">
      <div class="container py-lg-5">
        <h3 class="subhny-title text-center">Team</h3>
        <h3 class="hny-title text-center mb-4">Behind the taste</h3>
        <div class="row team-row mt-md-5 mt-4">
          <div class="col-lg-3 col-6 team-wrap">
            <div class="team-member text-center">
              <div class="team-img">
                <img src="~/images/team1.jpg" alt="" class="radius-image">
                <div class="overlay-team">
                  <div class="team-details text-center">
                    <div class="socials mt-20">
                      <a href="#url">
                        <span class="fa fa-facebook-f"></span>
                      </a>
                      <a href="#url">
                        <span class="fa fa-twitter"></span>
                      </a>
                      <a href="#url">
                        <span class="fa fa-instagram"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#url" class="team-title">Mickel Zaman</a>
              <p>Marketing</p>
            </div>
          </div>
          <!-- end team member -->
          <div class="col-lg-3 col-6 team-wrap">
            <div class="team-member text-center">
              <div class="team-img">
                <img src="~/images/team3.jpg" alt="" class="radius-image">
                <div class="overlay-team">
                  <div class="team-details text-center">
                    <div class="socials mt-20">
                      <a href="#url">
                        <span class="fa fa-facebook-f"></span>
                      </a>
                      <a href="#url">
                        <span class="fa fa-twitter"></span>
                      </a>
                      <a href="#url">
                        <span class="fa fa-instagram"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#url" class="team-title">Paul Croves</a>
              <p>Business Analyst</p>
            </div>
          </div>
          <!-- end team member -->

           <div class="col-lg-3 col-6 team-wrap">
            <div class="team-member text-center">
              <div class="team-img">
                <img src="~/images/team3.jpg" alt="" class="radius-image">
                <div class="overlay-team">
                  <div class="team-details text-center">
                    <div class="socials mt-20">
                      <a href="#url">
                        <span class="fa fa-facebook-f"></span>
                      </a>
                      <a href="#url">
                        <span class="fa fa-twitter"></span>
                      </a>
                      <a href="#url">
                        <span class="fa fa-instagram"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#url" class="team-title">Paul Croves</a>
              <p>CEO</p>
            </div>
          </div>

          <div class="col-lg-3 col-6 team-wrap mt-lg-0 mt-5">
            <div class="team-member last text-center">
              <div class="team-img">
                <img src="~/images/team2.jpg" alt="" class="radius-image">
                <div class="overlay-team">
                  <div class="team-details text-center">
                    <div class="socials mt-20">
                      <a href="#url">
                        <span class="fa fa-facebook-f"></span>
                      </a>
                      <a href="#url">
                        <span class="fa fa-twitter"></span>
                      </a>
                      <a href="#url">
                        <span class="fa fa-instagram"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#url" class="team-title">Ricardo Spencer</a>
              <p>Chief chef</p>
            </div>
          </div>
          <!-- end team member -->
  </section>

